# Data set files
*Trial*
*Calib*
*data-list*
*.zip

# Code config
.vscode

# ouput
vicon/pre-processing/interleaved-dataframe/_output/*
vicon/pre-processing/image-enricher/_output/*
vicon/pre-processing/image-enricher/_output-FFT/*
!vicon/pre-processing/image-enricher/_output/.gitkeep
vicon/pre-processing/image-builder/_output/*
!vicon/pre-processing/image-builder/_output/.gitkeep
!vicon/pre-processing/interleaved-dataframe/_output/.gitkeep
vicon/pre-processing/final-dataset/test-set/*
vicon/pre-processing/final-dataset/train-set/*
vicon/pre-processing/final-dataset/validation-set/*
