# Data set files
*Trial*
*Calib*
*data-list*
*.zip
*.pyc
# Code config
.vscode

# ouput
framework/pre-processing/interleaved-dataframe/_output/*
framework/pre-processing/image-enricher/_output/*
framework/pre-processing/image-enricher/_output-FFT/*
!framework/pre-processing/image-enricher/_output/.gitkeep
framework/pre-processing/image-builder/_output/*
!framework/pre-processing/image-builder/_output/.gitkeep
!framework/pre-processing/interleaved-dataframe/_output/.gitkeep
framework/pre-processing/final-dataset/orientation/*
framework/pre-processing/final-dataset/position/*
framework/final-dataset/*
framework/pre-processing/final-dataset/validation-set/*
framework/train/trainOutcomes/*
