# Data set files
*Trial*
*Calib*
*data-list*
*.zip
*.pyc
# Code config
.vscode

# ouput
framework/pre-process/unity/_output/*
framework/pre-process/pipeline/data-filtering/_output
framework/pre-process/pipeline/data-augmentation/_output
framework/pre-process/pipeline/features-extraction/post-segmentation_output
framework/pre-process/pipeline/features-extraction/pre-segmentation_output
framework/pre-process/pipeline/segmentation/_output
framework/final-dataset/*
framework/train-results/*
!framework/final-dataset/.gitkeep
!framework/train-results/.gitkeep
framework/pre-process/dataset/*
!framework/pre-process/dataset/.gitkeep

# tunning input
framework/tunning/Archive-ics-tunning-example/original-dataset
framework/tunning/Harvard-tunning-example/original-dataset
framework/tunning/UVA-HESSO-T0/original-dataset


!framework/train/toTrain/.gitkeep
framework/train/trainOutcomes/*
!framework/train/trainOutcomes/.gitkeep

framework/train/ensemble/models
framework/train/toTrainDraft/Archive-ics-tunning-examples/*
framework/train/toTrainDraft/Harvard-tunning-examples/*
